@import '~antd/dist/antd.css';

h1, p {
  font-family: Lato;
}

.ant-steps-item-icon .ant-steps-icon {
  margin-top: 5px;
}

span.ant-select-selection-item > span.ant-select-selection-item-remove{
  display: flex;
  align-items: center;
}

div.ant-steps-item-icon  {
  padding-top: 8px;
}